*.iml
.gradle
/local.properties
/build
/captures
.externalNativeBuild
/.idea/*
/UMLibrary/build/
/.idea/
/UMLibrary/build/
/app/_default/
/.idea/
/UMLibrary/build/intermediates/
/UMLibrary/build/generated/
