<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.chanfinecloud.cfl">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 必选 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 必选 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 必选 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 获取网络状态 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 获取设备信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 获取MAC地址 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 允许程序录制音频 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> <!-- 支持个推3.0 电子围栏功能 -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE" />
    <uses-permission android:name="com.sec.android.provider.badge.permission.READ" />
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE" /> <!-- 申请华为角标权限 -->
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE" />
    <uses-permission android:name="com.huawei.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.huawei.android.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 悬浮窗 -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" /> <!-- 解锁 -->
    <uses-permission
        android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".CFLApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.CommunityEventsEnrollActivity"></activity>
        <activity android:name=".ui.activity.CommunityEventsDetailActivity" />
        <activity android:name=".ui.activity.CommunityEventsMoreActivity" />
        <activity
            android:name=".ui.activity.VideoCallInActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.homehead.VideoCall2Activity"
            android:launchMode="singleTask" />
        <activity
            android:name=".weidgt.imagepreview.ui.PreviewActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".weidgt.imagepreview.ui.VideoPlayerActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.homehead.VideoCallActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.CarManageEditActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.UnLockListActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.CarManageAddActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.ComplainActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.RepairsActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.WorkflowStepActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.ComplainDetailActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.RepairsDetailActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.minefeatures.WorkflowListActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.CarManageActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.OtherRoomDetailActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.HouseholdAuditListActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.ProjectSelectActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.HouseholdAuditActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.HouseholdTypeSelectActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.RoomSelectActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.HouseManageActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.UnitSelectActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.FaceCollectionPhotoActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.HouseholdFaceActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.minefeatures.HouseHoldActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.homehead.CarLock"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.NewVisitorActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.VisitorQrCodeActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.homehead.VisitorActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.homehead.UnLock"
            android:launchMode="singleTask" />
        <activity android:name=".ui.LoginActivity" />
        <activity android:name=".ui.MainActivity" />
        <activity
            android:name=".ui.LaunchActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|keyboard"
            android:screenOrientation="nosensor"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.SettingActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.SettingDetailActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.SettingAboutActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.WaitingForDevelopmentActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.NewsInfoActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.NoticeActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.NoticeDetailActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.NoticeAttachmentActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.LifePaymentActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.CommentActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.CommentDetailActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.PersonActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.PersonNickNameActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.ParkingPaymentActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ui.activity.PaymentTestActivity" /> <!-- 网络状态监听服务 -->
        <receiver android:name=".receiver.NetBroadcastReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver> <!-- 友盟 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5e7d64e2dbc2ec080a6d05ba" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />

        <activity
            android:name=".weidgt.weixin.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent101569547" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" /> <!-- 蒲公英APPKEY 必填 -->
        <meta-data
            android:name="PGYER_APPID"
            android:value="d67cceb544c6f7d61bbcf11b53b3c1a6" /> <!-- Since JCore2.0.0 Required SDK核心功能 -->
        <!-- 可配置android:process参数将Service放在其他进程中；android:enabled属性不能是false -->
        <!-- 这个是自定义Service，要继承极光JCommonService，可以在更多手机平台上使得推送通道保持的更稳定 -->
        <service
            android:name=".receiver.MyJCommonService"
            android:enabled="true"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service> <!-- Required since 3.0.7 -->
        <!-- 新的 tag/alias 接口结果返回需要开发者配置一个自定的广播 -->
        <!-- 3.3.0开始所有事件将通过该类回调 -->
        <!-- 该广播需要继承 JPush 提供的 JPushMessageReceiver 类, 并如下新增一个 Intent-Filter -->
        <receiver
            android:name=".receiver.MyJPushMessageReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver> <!-- provider -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.chanfinecloud.cfl.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                tools:replace="android:resource" />
        </provider> <!-- 报错Failed resolution of: Lorg/apache/http/impl/client/DefaultHttpClient 加上这个就好了 问题原因还不太清楚 -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="android.notch_support"
            android:value="true" /> <!-- 适配小米（xiaomi）刘海屏 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" /> <!-- 适配 全面屏 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />
    </application>

</manifest>