<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.chanfinecloud.cfl">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 必选 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 必选 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 必选 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 获取网络状态 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 获取设备信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 获取MAC地址 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 允许程序录制音频 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> <!-- 支持个推3.0 电子围栏功能 -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".CFLApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.ComplainActivity"></activity>
        <activity android:name=".ui.activity.RepairsActivity" />
        <activity android:name=".ui.activity.WorkflowStepActivity" />
        <activity android:name=".ui.activity.ComplainDetailActivity" />
        <activity android:name=".ui.activity.RepairsDetailActivity" />
        <activity android:name=".ui.activity.minefeatures.WorkflowListActivity" />
        <activity android:name=".ui.activity.CarManageAddActivity" />
        <activity android:name=".ui.activity.CarManageActivity" />
        <activity android:name=".ui.activity.OtherRoomDetailActivity" />
        <activity android:name=".ui.activity.HouseholdAuditListActivity" />
        <activity android:name=".ui.activity.ProjectSelectActivity" />
        <activity android:name=".ui.activity.HouseholdAuditActivity" />
        <activity android:name=".ui.activity.HouseholdTypeSelectActivity" />
        <activity android:name=".ui.activity.RoomSelectActivity" />
        <activity android:name=".ui.activity.HouseManageActivity" />
        <activity android:name=".ui.activity.UnitSelectActivity" />
        <activity android:name=".ui.activity.FaceCollectionPhotoActivity" />
        <activity android:name=".ui.activity.HouseholdFaceActivity" />
        <activity android:name=".ui.activity.minefeatures.HouseHoldActivity" />
        <activity android:name=".ui.activity.homehead.CarLock" />
        <activity android:name=".ui.activity.NewVisitorActivity" />
        <activity android:name=".ui.activity.VisitorQrCodeActivity" />
        <activity android:name=".ui.activity.homehead.VisitorActivity" />
        <activity android:name=".ui.activity.RegisterActivity" />
        <activity android:name=".ui.activity.homehead.UnLock" />
        <activity android:name=".ui.LoginActivity" />
        <activity android:name=".ui.MainActivity" />
        <activity
            android:name=".ui.LaunchActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|keyboard"
            android:screenOrientation="nosensor"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 网络状态监听服务 -->
        <activity android:name=".ui.activity.SettingActivity" />
        <activity android:name=".ui.activity.SettingDetailActivity" />
        <activity android:name=".ui.activity.SettingAboutActivity" />
        <activity android:name=".ui.activity.WaitingForDevelopmentActivity" />
        <activity android:name=".ui.activity.NewsInfoActivity" />
        <activity android:name=".ui.activity.NoticeActivity" />
        <activity android:name=".ui.activity.NoticeDetailActivity" />
        <activity android:name=".ui.activity.NoticeAttachmentActivity" />
        <activity android:name=".ui.activity.LifePaymentActivity" />
        <activity android:name=".ui.activity.CommentActivity" />
        <activity android:name=".ui.activity.CommentDetailActivity" />
        <activity android:name=".ui.activity.PersonActivity" /> <!-- 网络状态监听服务 -->
        <activity android:name=".ui.activity.NoticeAttachmentActivity" /> <!-- 网络状态监听服务 -->
        <receiver android:name=".receiver.NetBroadcastReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver> <!-- 友盟 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5e7d64e2dbc2ec080a6d05ba" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />

        <activity
            android:name=".weidgt.weixin.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent101569547" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" /> <!-- 蒲公英APPKEY 必填 -->
        <meta-data
            android:name="PGYER_APPID"
            android:value="d67cceb544c6f7d61bbcf11b53b3c1a6" /> <!-- Since JCore2.0.0 Required SDK核心功能 -->
        <!-- 可配置android:process参数将Service放在其他进程中；android:enabled属性不能是false -->
        <!-- 这个是自定义Service，要继承极光JCommonService，可以在更多手机平台上使得推送通道保持的更稳定 -->
        <service
            android:name=".receiver.MyJCommonService"
            android:enabled="true"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service> <!-- Required since 3.0.7 -->
        <!-- 新的 tag/alias 接口结果返回需要开发者配置一个自定的广播 -->
        <!-- 3.3.0开始所有事件将通过该类回调 -->
        <!-- 该广播需要继承 JPush 提供的 JPushMessageReceiver 类, 并如下新增一个 Intent-Filter -->
        <receiver
            android:name=".receiver.MyJPushMessageReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.chanfinecloud.cfl.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                tools:replace="android:resource" />
        </provider>
    </application>

</manifest>